.hero {
  visibility: hidden;
  height: 100vh;
  .container {
    min-width: 1340px;
    margin: 0 auto;
    .heroInner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 24px;
      height: 100vh;
      .heroContent {
        width: 50%;
        .heroContentInner {
          width: 400px;
          color: #f3f3f3;
          margin: 0 auto;
          h1 {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 24px;
            .heroContentLine {
              margin: 0;
              height: 44px;
              overflow: hidden;
            }
          }
          p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            padding-right: 48px;
            margin-bottom: 56px;
          }
          .btnRow {
            position: relative;
            &:before {
              position: absolute;
              content: "";
              width: 56px;
              height: 1px;
              background: #dfdfdf;
              top: 50%;
              left: -68px;
            }
            button {
              background: none;
              color: #f3f3f3;
              border: none;
              font-size: 12px;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.7px;
              display: flex;
              align-items: center;
              position: relative;
              &:focus {
                outline: none;
              }
              .arrowIcon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #007fff;
                height: 48px;
                width: 48px;
                border-radius: 100px;
                margin-left: 16px;
                left: 64px;
                transform-origin: center center;
              }
            }
          }
        }
      }
      .heroImages {
        width: 60%;
        height: 100vh;
        position: relative;
        .heroImagesInner {
          .heroImage {
            position: absolute;
            overflow: hidden;
            &.girl {
              top: 0;
              right: 0px;
              width: 45%;
              height: 50%;
            }
            &.boy {
              bottom: 24px;
              left: 0px;
              width: 52%;
              height: 65%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}